<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cast_xmr_ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <cast_xmr_ui.Properties.Settings>
            <setting name="WalletAddress" serializeAs="String">
                <value>1Jpa5vXshvEaQKFjenma8qarFofkEJzrPK</value>
            </setting>
            <setting name="PoolAddress" serializeAs="String">
                <value>cryptonight.usa.nicehash.com:3355</value>
            </setting>
            <setting name="WorkerPassword" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="Intensity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GPU" serializeAs="String">
                <value>0,1</value>
            </setting>
            <setting name="UseNicehash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastJobSwitching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestartRate" serializeAs="String">
                <value>1900</value>
            </setting>
            <setting name="MinerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverRestartHashDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverRestartHashrate" serializeAs="String">
                <value>1700</value>
            </setting>
            <setting name="ForceCompute" serializeAs="String">
                <value>True</value>
            </setting>
        </cast_xmr_ui.Properties.Settings>
    </userSettings>
</configuration>